// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

.field-radio-calc {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: $line-height;
    margin-bottom: 20px;
  }

  &__caption {
    font-size: 13px;
    color: #a3a6ab;
    line-height: 1.3;
  }

  &__input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__input-wrap {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__item {
    position: relative;
    display: inline-block;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;
  }

  &__item-text {

    background: #f7f8f9;
    color: #77797d;
    display: block;
    border-radius: 23px;
    padding: .5em 0.8em;
    white-space: nowrap;
    font-size: 12px;

    @media (min-width: $screen-md) {
      padding: .7em 1em;
      font-size: 16px;
    }

    @at-root input:checked ~ & {
      background: #427eec;
      color: #fff;
    }
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
