// В этом файле должны быть стили для БЭМ-блока about-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about-box {

  $block-name:                &; // #{$block-name}__element

  &__body {
    margin-bottom: 60px;
    position: relative;

    @media (max-width: $screen-sm) {
      margin-bottom: 25px;
    }
  }

  &__wrap {
    border: 10px solid #427eec;
    padding: 35px 20px;

    @media (min-width: $screen-md) {
      padding: 65px 40px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 35%;
    }
  }

  &__action {
    text-align: center;
  }

  &__caption {

    h3 {
      margin-top: 0;
    }

    @media (min-width: $screen-lg) {
      padding-right: 20%;
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 25px;
    }
  }

  &__list {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 10px 30px 0px rgba(44, 47, 52, 0.1);
    border-radius: 4px;

    @media (max-width: $screen-sm) {
      padding: 15px;
    }

    @media (min-width: $screen-lg) {
      max-width: 560px;
      width: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        max-width: 100%;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        margin: 15px 0;

        @media (max-width: $screen-sm) {
          margin: 10px 0;
        }

        span {
          margin-right: 30px;
          display: inline-block;

          @media (max-width: $screen-sm) {
            margin-right: 10px;
          }
        }

        .icon {
          margin-right: 17px;
          width: 52px;
          flex-shrink: 0;

          @media (max-width: $screen-sm) {
            width: 32px;
            margin-right: 10px;
          }
        }

        @media (min-width: $screen-md) {
          max-width: 50%;
          flex-basis: 50%;
        }
      }
    }
  }
}
