// В этом файле должны быть стили для БЭМ-блока pos-terminal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pos-terminal {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: flex-start;

  @media (max-width: ($screen-md - 1)) {
    display: block;
  }

  &__info {

    h2 {
      margin-top: 0;
    }


    @media (min-width: $screen-sm) {
      min-width: 360px;
    }

    @media (min-width: $screen-lg) {
      min-width: 560px;
    }
  }

  &__caption {
    background: #fff;
    padding: 25px 20px;
    // max-width: 500px;
    box-shadow: 0px 10px 30px 0px rgba(44, 47, 52, 0.1);
    position: relative;

    @media (min-width: $screen-sm) {
      padding: 25px 60px 25px 20px;
    }

    @media (min-width: $screen-lg) {
      padding: 50px 140px 50px 55px;

      // &:after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   right: -50px;
      //   background: #fff;
      //   width: 50px;
      //   height: 100%;
      //   z-index: 1;
      // }
    }
  }

  &__list {
    font-size: 17px;
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: a;

    li {
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      &:before {
        counter-increment: a;
        content: "0" counter(a);
        font-size: 38px;
        font-weight: 700;
        display: block;
        color: #80abfa;
        line-height: 1;
        margin-right: 15px;
      }
    }
  }

  &__imag-wrap {
    border: 10px solid #427eec;
    width: 100%;
    text-align: center;
    position: relative;
    height: 435px;
    margin-top: 100px;
    margin-left: -60px;

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: ($screen-md)) {
      margin-left: 0;
    }

    @media (max-width: ($screen-lg - 1)) {
      height: 260px;
      margin-left: -30px;

      img {
        max-width: 200px;
      }
    }
  }
}
