// В этом файле должны быть стили для БЭМ-блока video-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.video-box {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__caption-wrap {
    @include col();
    @include col(lg, 6);
    display: flex;
    align-items: center;

    @media (max-width: ($screen-lg - 1)) {
      margin-bottom: 25px;
    }
  }
  &__prev-wrap {
    @include col();
    @include col(lg, 6);
  }
  &__caption {
    h3 {
      margin-top: 0;
    }
  }
  &__prev {
    margin-top: 50px;
    margin-right: 50px;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(44, 47, 52, 0.1);

    @media (max-width: $screen-sm) {
      margin-top: 20px;
      margin-right: 20px;
    }

    a {
      display: block;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: rgba(#2c2f34, 0.3);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all $transition-time;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 69px;
        height: 69px;
        background-color: #427eec;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 415.346 415.346' fill='%23fff' style='enable-background:new 0 0 415.346 415.346;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M41.712,415.346c-11.763,0-21.3-9.537-21.3-21.3V21.299C20.412,9.536,29.949,0,41.712,0l346.122,191.697 c0,0,15.975,15.975,0,31.951C371.859,239.622,41.712,415.346,41.712,415.346z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: 21px 23px;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 3;
      }

      &:hover {

        &:before {
          background: rgba(#2c2f34, 0);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 1;
    }

    &:before {
      content: "";
      border: 10px solid #427eec;
      position: absolute;
      top: -50px;
      right: -50px;
      width: 80%;
      height: 100%;
      z-index: 0;

      @media (max-width: $screen-sm) {
        top: -20px;
        right: -20px;
      }
    }
  }
}
