// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


.tabs {

  $block-name:                &; // #{$block-name}__element

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;

    &--active {

      #{$block-name}__link {
        color: #427eec;
        background-color: #f7f8f9;
      }
    }
  }

  &__link {
    display: block;
    padding: $field-padding-vertical $field-padding-horizontal;
    color: #353638;
    text-decoration: none;
    background-color: #fff;
    border-radius: 3px;
    font-size: 18px;
    padding: 14px 22px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #427eec;
    }
  }

  &__content-wrapper {
    display: block;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}

