// В этом файле должны быть стили для БЭМ-блока headroom, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.headroom {

  $block-name:                &; // #{$block-name}__element

    will-change: transform;
    transition: transform 350ms linear;

    &--pinned {
      // display: block;
      transform: translateY(0%);
    }

    &--unpinned {
      // display: none;
      // transform: translateY(-100%);
    }
}
