// В этом файле должны быть стили для БЭМ-блока cash-calc, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cash-calc {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }
  &__col {
    @include col();
    @include col(lg, 6);

    .field-range {
      margin-bottom: 30px;

      + .field-range {
        margin-bottom: 50px;
      }
    }
  }
  &__inputs {

  }

  &__info {
    height: 100%;
    background: #f7f8f9;
    border: 1px solid #dddfe2;
    padding: 20px;

    @media (min-width: $screen-md) {
      padding: 30px 50px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 20px;

      @media (min-width: $screen-md) {
        margin-bottom: 50px;
      }
    }
  }

  &__result {
    margin-bottom: 20px;
    position: relative;
    padding-left: 65px;
    min-height: 68px;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      fill: #80abfa;
    }

    >span {
      font-size: 17px;
      color: #77797d;
      line-height: 1;
    }

    div {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 50px;
      position: relative;
      padding-left: 65px;
      min-height: 68px;
    }
  }

  &__action {

    .btn {
      width: 100%;
    }

    @media (min-width: $screen-md) {
      .btn {
        width: auto;
      }
    }
  }
}
