// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #353638;
  color: #fff;
  padding-top: 44px;
  padding-bottom: 15px;

  &__container {
    @include container;
  }
  &__row {
    @include row;
  }
  &__col {
    @include col();

    &--info {
      @include col(lg, 3);

      p {
        line-height: 1.6;
      }
    }
    &--links {
      @include col(lg, 6);
      padding-top: 25px;
    }
    &--contacts {
      @include col(lg, 3);
      padding-top: 25px;

      .contacts-part {
        margin-bottom: 28px;
      }
    }
  }
  &__logo {
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 70%;

    @media (min-width: $screen-lg) {
      column-count: 2;
      column-gap: 0;
      margin: 0 auto;
    }

    li {
      margin-bottom: 20px;
      padding-right: 20px;

      &.current {
        a {
          color: #427eec;
          border-color: transparent;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid rgba(#fff, .5);

      &:hover {
        color: #427eec;
        border-color: transparent;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;

    a {
      color: #848689;

      &:hover {
        color: #fff;
      }
    }
  }
}
