// В этом файле должны быть стили для БЭМ-блока contacts-part, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-part {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-size: 14px;
    color: #a3a6ab;
    margin-bottom: 4px;
  }
  &__item {
    text-decoration: none;

    &--phone {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;

      .icon {
        margin-right: 5px;
        fill: #a3b4d2;
      }
    }

    &--addr {
      font-size: 17px;
      line-height: 1.2;

      .icon {
        margin-right: 5px;
        fill: #a3b4d2;
      }
    }
  }

  &--white {

    #{$block-name}__item {
      color: #fff;
    }
  }

  &--dark {

    #{$block-name}__item {
      color: $text-color;
    }
  }
}
