// В этом файле должны быть стили для БЭМ-блока adv-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantage-box {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__item {

    margin-bottom: 30px;

    @include col;
    @include col(lg, 6);

    &--xl {
      @include col(lg, 12);

      #{$block-name}__inner {

        background-position: right 30px center;

        @media (min-width: $screen-lg) {
          padding-right: 340px;
        }

        ul {

          @media (min-width: $screen-lg) {
            column-count: 2;
            column-gap: 0;
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 15px;
    }
  }

  &__inner {
    background: #fff;
    padding: 30px;
    height: 100%;
    box-shadow: 0px 10px 30px 0px rgba(44, 47, 52, 0.1);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: right 30px top 30px;
    position: relative;

    &:before {
      content: "";

      @media (max-width: ($screen-md - 1)) {
        background: rgba(#fff, 0.8);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }

    h4 {
      margin-top: 0;
      position: relative;
      z-index: 2;
    }

    ul {
      margin: 0;
      position: relative;
      z-index: 2;
    }

    @media (min-width: $screen-md) {
      padding-right: 160px;
    }

    @media (max-width: $screen-sm) {
      padding: 20px 15px;
    }
  }
}
